@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,500,700");
* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

body {
  font-family: arial, sans-serif;
  font-size: 20px;
  margin: 0; }

.algolia-search {
  /* margin: 100px auto 30px auto; */
  width: 100%;
  /* max-width: 1100px; */
  display: flex;
  flex-direction: column;
  /* border: solid #74bfe6;
  border-width: 0 0px 2px 0px; */
  background: #eff8fd; }

.top {
  position: relative;
  display: flex;
  margin-top: -55px;
 /*  background: #74bfe6; */ }

.input-container {
  position: relative;
  width: 1366px;
  margin: 0 auto;
  display: flex;
  justify-content: center; }

.ais-search-box {
  text-align: center;
 /*  background: #74bfe6; */
  padding: 10px; 
  position: relative;
}
.ais-search-box::after {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 18px;
  background-color: #6aa6c0;
  color: white;
  width: 60px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  right: 20px;
  top: 30px;   
  -webkit-border-top-right-radius: 60px;
  -moz-border-top-right-radius: 60px;
  border-top-right-radius: 60px;
  -webkit-border-bottom-right-radius: 60px;
  -moz-border-bottom-right-radius: 60px;
  border-bottom-right-radius: 60px;
}
  .ais-search-box #search-box,
  .ais-search-box #search-box-replica {
    border-radius: 60px;
    width: 380px;
    margin: 10px auto;
    box-shadow: inset 0px 1px 1px #8fbccf;
    outline: none;
    /* padding: 6px 1em; */
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    border: none;
    background: white;
    border: 10px solid #b5e2f7;
    height: 70px;
    font-family: Lato, sans-serif;
    font-weight: 100;
    font-size: 22px;
    padding-left: 25px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
    .ais-search-box #search-box:focus,
    .ais-search-box #search-box-replica:focus {
      box-shadow: inset 0 2px 6px rgba(0, 100, 220, 0.15);
      border-color: #f39eb1; 
      -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    }

#stats {
  z-index: 1;
 /*  position: absolute; */
  color: rgba(0, 0, 0, 0.4);
  /* bottom: 16px;
  right: 9%; */
  font-size: 22px;
  background: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-top: 33px;
  margin-left: 10px;
  margin-right: 10px;
  }

.content {
  display: flex;
  margin-top: 1rem;
  width: 1140px;
  margin: 0 auto; }

.canvas {
  width: 63%;
  display: flex;
  flex-direction: column;
  position: relative; }
  .canvas .search__h3 {
    text-align: center;
    font-family: 'Lato', sans-serif;
   /*  padding: 39px 0; */
    margin: 0;
    font-weight: bold;
    letter-spacing: 2px; }

#hits {
  /* overflow: hidden; */
  height: 461px; }

.ais-hits {
  display: flex;
  flex-wrap: wrap; }

.ais-hits__empty {
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  color: rgba(0, 0, 0, 0.4); }

.ais-hits--item {
  width: 33%;
  text-align: center; }

.movie {
  position: relative;
  display: flex;
  border: 1px solid #6da8ba;
  background-color: white;
  flex-wrap: wrap;
  height: 230px;
  align-items: center;
  padding: 10px 15px; }

.movie-image {
  flex-shrink: 0;
  /* width: 60%; 
  height: 150px; */
  max-width: 160px;
  margin: 0 auto;
  padding-top: 10px; }

.movie-meta {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'Lato', sans-serif;
  height: 45px; }

.movie-title {
  align-items: center;
  font-size: 16pt;
  font-weight: bold;
  text-decoration: none;
  color: #74bfe6;
  transition: 0.5s;
  line-height: 1;
  border: none; }
  .movie-title.Hellgo {
    color: #e55f78; }
  .movie-title.Letgo {
    color: #789074; }
  .movie-title em {
    color: #0096e6;
    background: rgba(0, 160, 220, 0.2); }
  .movie-title:hover {
    color: gray; }

.movie-year {
  font-size: 0.8em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.6); }

.movie-rating {
  margin-top: 0.2em;
  right: 5px;
  top: -3px;
  position: absolute; }
  .movie-rating span {
    width: 18px; }
  .movie-rating .ais-star-rating--star:before,
  .movie-rating .ais-star-rating--star__empty:before {
    font-size: 16px;
    color: #74bfe6; }
  .movie-rating .ais-star-rating--star__empty {
    display: none; }

.movie-genres {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8em;
  margin-top: 0.7em;
  margin-right: -0.4em;
  margin-bottom: -0.4em; }

.movie-genre {
  color: rgba(0, 0, 0, 0.7);
  padding: 0.4em 0.6em;
  background-color: rgba(0, 0, 0, 0.1);
  margin-right: 0.4em;
  margin-bottom: 0.4em; }

ul.ais-pagination {
  padding: 0;
  margin: 0; }

#pagination {
  margin: 10px 0;
  text-align: center; }

.ais-pagination--item {
  margin: 0 0.2em; }

.ais-pagination--link {
  font-size: 1.2em;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4); }
  .ais-pagination--item__active .ais-pagination--link {
    font-weight: bold;
    color: rgba(0, 100, 220, 0.6); }

.facets:first-child {
  width: 19%; }

.facets:last-child {
  width: 18%;
  text-align: center; }

.facet {
  padding: 1em 0; }

.facet-title {
  /* padding: 81px 1em 0 21px; */
  font-size: 15pt;
  /* margin-bottom: 1.5em; */
  font-weight: 700; }

.ais-refinement-list--item {
  padding: 8px 0px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7); }
  .ais-refinement-list--item:hover {
    color: black;
    background-color: rgba(0, 0, 0, 0.04); }
  .ais-refinement-list--item.ais-refinement-list--item__active {
    background-color: rgba(0, 0, 0, 0.08);
    font-weight: bold;
    color: black; }
    .ais-refinement-list--item.ais-refinement-list--item__active .focus__items {
      color: #6aa6c0 !important; }
  .ais-refinement-list--item .focus__items {
    text-transform: Capitalize;
    font-size: 20px;
    font-weight: 700;
    color: #b2b2b2;
    transition: 0.5s;
    line-height: 1; 
    font-family: 'Lato', sans-serif;
    margin-bottom: 1.5px;
  }
    .ais-refinement-list--item .focus__items:hover {
      color: #6aa6c0 !important; }

.ais-refinement-list--label {
  position: relative;
  display: flex;
  line-height: 1.4em;
  cursor: inherit; }
  .ais-refinement-list--label input[type=checkbox] {
    display: none; }

.ais-refinement-list--count, .ais-star-rating--count {
  top: 0;
  position: absolute;
  right: 0;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.4); }

.ais-star-rating--star:before {
  color: #74bfe6; }

.ais-star-rating--star__empty:before {
  content: '\2606';
  color: #74bfe6; }

.ais-star-rating--item {
  padding: 0 1em;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7); }
  .ais-star-rating--item:hover {
    color: black;
    background-color: rgba(0, 0, 0, 0.04); }
  .ais-star-rating--item.ais-star-rating--item__active {
    font-weight: bold;
    color: black; }
    .ais-star-rating--item.ais-star-rating--item__active .ais-star-rating--link .ais-star-rating--star:before,
    .ais-star-rating--item.ais-star-rating--item__active .ais-star-rating--link .ais-star-rating--star__empty:before {
      color: #74bfe6; }
  .ais-star-rating--item .ais-star-rating--star:before,
  .ais-star-rating--item .ais-star-rating--star__empty:before {
    color: gray; }

.ais-star-rating--link {
  position: relative;
  display: block;
  text-decoration: none;
  line-height: 1.4em;
  color: inherit; }

.ais-range-slider--tooltip {
  position: relative;
  background: none; }

.ais-range-slider--handle {
  display: flex;
  justify-content: center; }

#year {
  padding: 0 2em; }

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1140px;
  margin: 0px auto 45px auto; }
  .footer .facet {
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 125px;
    color: #74bfe6; }
    .footer .facet:nth-child(1) {
      width: 63%;
      justify-content: flex-start; }
    .footer .facet:nth-child(2) {
      width: 19%;
      justify-content: flex-end; }
    .footer .facet:nth-child(3) {
      width: 18%; }
      .footer .facet:nth-child(3) .ais-footer {
        position: relative;
        margin: -21px auto 0 auto;
        text-align: center; }
  .footer #category {
    padding-left: 7px; }
    .footer #category .ais-refinement-list--list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center; }
      .footer #category .ais-refinement-list--list .wellgo_categories {
        width: 100px;
        filter: grayscale(100%);
        transition: 0.5s;
        padding: 0 5px; }
        .footer #category .ais-refinement-list--list .wellgo_categories.ais-refinement-list--item__active {
          filter: grayscale(0%); }
        .footer #category .ais-refinement-list--list .wellgo_categories div img {
          width: 100%;
          cursor: pointer;
          transition: 0.5s linear; }
        .footer #category .ais-refinement-list--list .wellgo_categories div span {
          cursor: pointer; 
          font-family: 'Montserrat', sans-serif;
          padding-top: 5px;
          display: inline-block;
          font-size: 15px;
        }
          .footer #category .ais-refinement-list--list .wellgo_categories div span.hellgo {
            color: #e55f78; }
          .footer #category .ais-refinement-list--list .wellgo_categories div span.letgo {
            color: #789074; }
          .footer #category .ais-refinement-list--list .wellgo_categories div span.wellgo {
            color: #74bfe6; }
        .footer #category .ais-refinement-list--list .wellgo_categories:hover {
          filter: grayscale(0%); }

.ais-refinement-list--item {
  filter: grayscale(100%);
  transition: 0.5s; }
  .ais-refinement-list--item img {
    width: 50px; }
  .ais-refinement-list--item.ais-refinement-list--item__active, .ais-refinement-list--item:hover {
    background-color: transparent;
    filter: grayscale(0%); }

/**
 * Rating hearts
*/
.ais-star-rating--link span {
  padding: 0 11px; }

.ais-star-rating--star {
 display: none !important; 
}

.ais-star-rating--star:before {
  content: "ï€„" !important;
  font-family: FontAwesome; }

.ais-star-rating--star__empty:before {
  content: '\f08a';
  font-family: FontAwesome; }

/**
 * Titles
 */
.titles__list .ais-refinement-list--item .focus__items {
  color: #938e92; }

/**
 * Categories
 */
.wellgo_categories span {
  color: #74bfe6; }

/**
 * Confidence
 */
#confidence {
  width: 60%; }

/**
 * Levels
 */
.wellgo_levels {
  display: flex; }
  .wellgo_levels .ais-refinement-list--item {
    padding: 0 5px; }
    .wellgo_levels .ais-refinement-list--item div:before {
      content: '\f004';
      font-family: FontAwesome;
      color: #74bfe6; }

/**
 * Clear all
 */
.ais-clear-all--link {
  transition: 0.5s;
  color: white;
  text-decoration: none; }
  .ais-clear-all--link i {
    transition: 0.5s;
    color: #6aa6c0; }
    .ais-clear-all--link i:hover {
      transform: rotate(720deg); }

/**
  Make everything in color before first click on filters
 */
.justLoaded {
  filter: grayscale(0%) !important ;
  color: #74bfe6; }

.ais-search-box--powered-by, div#level {
  display: none !important;
}

.fa-rotate-right:before, .fa-repeat:before {
  content: "\f021" !important;
}

.ais-hits .ais-hits--item:first-child .movie {
  border-top-left-radius: 60px;
}

.ais-hits .ais-hits--item:nth-child(3) .movie {
  border-top-right-radius: 60px;
}

.ais-range-slider--target {
  height: 8px;
}
.ais-range-slider--background, 
.ais-range-slider--base {
  background: #e9e7e8;
  border: 0;
}

.footer .facet:nth-child(3) .ais-footer {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

section.algolia-search-container {
  background: #eff8fd;
  border-bottom: 2px solid #a3c6da;
}

section.algolia-search-container .inner {
  max-width: 1366px;
  margin: 0 auto;
}

/* Nice ScrollBar */
 .nicescroll-cursors, .nicescroll-rails {
  background: #e9e7e8 !important;
  opacity: 1 !important;
  width: 12px !important;
  border-radius: 5px !important;
  margin-left: 20px !important;
  display: block !important;
}
.nicescroll-cursors {
  background-color: #6ca5c3 !important;
}
div#ascrail2000-hr {
  display: none !important;
}

.clearable {
  background: #fff url(../images/cancel.svg) no-repeat right -10px center !important;
  background-size: 18px !important;
  transition: background 0.4s;
}
.clearable.x  { background-position: right 75px center !important; }
.clearable.onX{ cursor: pointer !important; }
.clearable::-ms-clear {display: none; width:0; height:0;}