.row {
  &.first {
    margin: 140px 0 -25px 0;
    display: flex;
    align-items: center;
    justify-content: center;


    .wellgo-title {

      p {
        font-family: $font_d;
        color: $light_blue;
        text-align: center;
        font-weight: bold;
        font-size: 19px;
      }
    }

    .intro-text {

      p {
        font-family: $font_d;
        font-size: 21px;
        padding: 10px 0;
      }
    }

    .checkboxes {
      ul {
        list-style: none;

        li {
          font-size: 19px;
          font-weight: bold;
          color: $light_blue;
          font-family: $font_d;
          padding: 10px 0;
        }
      }
    }
  }
}

.title-span {
  display: block;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  font: bold 45px $font_d;
  color: $light_blue;
}

.divider {
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
  background: $light_blue;
  margin: 20px 0;
}

.image-inside {

  .img-responsive {
    margin: 0 auto;
    width: 60%;
  }
}