
.hidden {
  display: none !important;
}

#main {
  padding: 0;

  &.social-mode {
    background: $light_blue;

    .separator {
      z-index: 1;
      position: relative !important;
    }

    .social {
      width: $custom_width;
      min-height: $custom_height;
      display: flex;
      margin: 0 auto;

      .avatar-box {
        width: 150px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 130px 0;

        .user {
          width: 100%;
          text-align: center;
          padding: 20px 0;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          height: 120px;

          img {
            width: 50px;
            transition: 0.5s linear;
            cursor: pointer;

            &:hover {

              opacity: 0.5;
            }
          }

          span {
            width: 100%;
            text-transform: uppercase;
            font-size: 16px;
          }



          &.reload {
            i {
              font-size: 40px;
              transition: 0.5s;
              cursor: pointer;

              &:hover {
                transform: rotate(720deg)
              }
            }
          }
        }
      }

      .center-content {
        width: calc(100% - 300px);
        background-color: #edf9ff;

        .wellghoritm {
          width: 100%;
        }
      }
    }

    .fake-input {
      cursor: default !important;
      transition: .5s;

      &.animate-text {
        opacity: 0.3;
      }

      .avatar {
        position: relative;
        left: -100px;
        width: 100px;
        margin-right: -65px;
        height: 80px;
        text-align: center;

        img {
          width: 100%;
        }

      }
    }
  }
}

/**
  Favor menu
 */

.favor-menu {
  display: none;

  &.show-favor-menu {
    display: block;
  }

  width: 350px;
  color: white;
  position: absolute;
  z-index: 30;
  margin-top: -60px;
  margin-left: 10px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border: 1px solid white;
      cursor: pointer;

      &:hover {
        font-weight: bold;

        & > .favor-second-level {
          display: block;
        }
      }

      .favor-second-level {
        display: none;
        position: absolute;
        width: 500px;
        background: black;
        left: 350px;
        margin-top: -36px;
        transition: .5s;

        li {
          font-weight: normal;

          &:hover {
            font-weight: bold;
          }
        }
      }
    }
  }
}

.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after { clear: both; }