/**
 Variables
 */
$question_height: 748px;

/**
 Functions
 */
@mixin background-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

.wellgorithms-template-default {
  background: transparentize($light_blue, 0.8);

  #header {

    &.header-class {
      top: 47px;

      nav {
        top: 58px;
      }
    }
  }

  .banner-image {
    height: 400px;
    border-bottom: 4px solid $light_blue;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .inner {
    max-width: 100%;

    &.top-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;

      nav{
        width: 30%;
      }

      .wellgo-icon {
        width: 10%;
        position: absolute;
      }

      .left-separator {
        width: 0;
      }

      .logo {
        width: 20%;
        text-align: center;
        display: flex !important;
        flex-wrap: wrap;
        justify-content: center;

        .symbol {
          margin-right: 0 !important;
          width: 100%;
          display: flex !important;
          justify-content: center;

          img {
            height: 20px !important;
          }
        }
      }

      .title {
        color: #ffffff;
        font-size: 120%;
      }

      nav {
        position: static !important;
        display: flex;
        justify-content: flex-end;
      }
    }

    .wellghoritm {
      height: $question_height;
      max-height: $question_height;
      width: $custom_width;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .progressbar {
        width: 100%;
        text-align: center;

        .outline {
          width: 416px;
          height: 18px;
          border: 1px solid $light_blue;
          margin: 0 auto;

          .inside {
            height: 100%;
            background: $light_blue;
            color: white;
            line-height: 1;
            font-size: 15px;
          }
        }
      }

      .question {
        width: 100%;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .wide-separator {
          width: 10%;
          text-align: center;

          .question__like {
            color: $light_blue;
            transition: 1s;
            cursor: pointer;

            &:hover {
              opacity: 0.5;
            }
          }
        }

        span {
          width: 933px;
          display: block;
          text-align: center;
          color: $light_blue;
          font-family: 'Lato', sans-serif;
          font-weight: 800;
          font-size: 40px;
        }
      }

      .answer {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 120px;
        justify-content: center;

        .answer__radio {
          width: 60px;

          .check {
            width: 30px;
            height: 30px;
            border: 3px solid $light_blue;
            border-radius: 100%;
            transition: 1s;
            margin-top: -50px;
            z-index: -1;
            background: #ffffff;

            .inside {
              transition: 1s;
            }
          }

          label {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            cursor: pointer;
            transition: 1s;
            position: relative;
          }

          input[type=radio]:checked ~ .check {

            .inside {
              width: 100%;
              height: 100%;
              background: $light_blue;
              border-radius: 100%;
              position: relative;
              top: calc(50% - 12px);
              left: calc(50% - 12px);
            }
          }

        }

        .answer__input {
          width: 753px;

          .fake-input {
            border: solid $light_blue;
            border-width: 1px 1px 1px 110px;
            padding: 10px;
            border-radius: 20px;
            min-height: 140px;
            transition: all .2s ease-out;
            cursor: pointer;
            display: flex;
            align-items: center;
            background: white;
            font-size: 120%;
            font-family: 'Lato', sans-serif;
            min-height: 125px;

            &:focus {
              box-shadow: 0px 0px 20px 6px white;
              background: #fff;
              outline: 0px solid transparent;
              border-width: 4px;
            }
          }
        }


      }
    }

    .separator {
      position: absolute;
      left: 0;
      right: 0;
      background: $light_blue;
      height: 4px;
    }
  }
}


