/**
 Variables
 */
$question_height: 748px;

/**
 Functions
 */
@mixin background-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

.wellghoritms-template-default {
  background: transparentize($light_blue, 0.8);

  #header {

    &.header-class {
      top: 47px;

      nav {
        top: 58px;
      }
    }
  }

  .banner-image {
    height: 400px;
    border-bottom: 4px solid $light_blue;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .inner {
    max-width: 100%;

    .wellghoritm {
      height: $question_height;
      max-height: $question_height;
      width: $custom_width;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .progressbar {
        width: 100%;
        text-align: center;

        .outline {
          width: 60%;
          height: 30px;
          border: 1px solid $light_blue;
          margin: 0 auto;

          .inside {
            height: 100%;
            background: $light_blue;
            color: white;
            font-size: 17px;
          }
        }
      }

      .question {
        width: 100%;

        span {
          display: block;
          text-align: center;
          font-size: 30px;
          color: $dark_blue;
        }
      }

      .answer {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 120px;

        .answer__radio {
          width: 60px;

          .check {
            width: 30px;
            height: 30px;
            border: 3px solid $light_blue;
            border-radius: 100%;
            transition: 1s;
            margin-top: -50px;
            z-index: -1;

            .inside {
              transition: 1s;
            }
          }

          label {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            cursor: pointer;
            transition: 1s;
            position: relative;
          }

          input[type=radio]:checked ~ .check {

            .inside {
              width: 90%;
              height: 90%;
              background: $light_blue;
              border-radius: 100%;
              position: relative;
              //margin: 1px auto;
              top: calc(50% - 12px);
              left: calc(50% - 12px);
            }
          }

        }

        .answer__input {
          width: calc(100% - 60px);

          .fake-input {
            border: solid $light_blue;
            border-width: 1px 1px 1px 110px;
            padding-left: 10px;
            border-radius: 20px;
            min-height: 140px;
            transition: all .2s ease-out;
            cursor: pointer;
            display: flex;
            align-items: center;

            &:focus {
              background: #fff;
              box-shadow: none;
              outline: 0px solid transparent;
            }
          }
        }


      }
    }

    .separator {
      position: absolute;
      left: 0;
      right: 0;
      background: $dark_blue;
      height: 4px;
    }
  }
}


