// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Montserrat:400,700,900');

// Custom colors
$light_blue: #74bfe6;
$dark_blue: #0b537b;
$white: #E3F2FD;

// Sizes
$custom_width: 1140px;
$custom_height: 744px;

// Fonts
$font_d: 'Lato', sans-serif;